@{
    var jss = new System.Web.Script.Serialization.JavaScriptSerializer();
    var userInfoJson = jss.Serialize(ViewBag.AllFiles);

    if (String.IsNullOrEmpty(ViewBag.SearchBy) == false)
    {
        Layout = null;
        <script type="text/javascript" src="~/Scripts/main.js"></script>
        <link rel="stylesheet" type="text/css" href="~/Content/main.css">
        <!DOCTYPE html>
        <html>
        <head>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>@ViewBag.Title - GHVHS</title>
            <script type="text/javascript" src="~/Scripts/main.js"></script>
            <link rel="stylesheet" type="text/css" href="~/Content/main.css">
            <link rel="stylesheet" type="text/css" href="~/Content/Uploader.css">

        </head>
        <body>
            <div id="canvas" class="canvas">
                <div class="MainContent" id="MainContent">

                </div>
            </div>
        </body>
    </html>


    }
}


<script type="text/javascript" src="~/Scripts/PnpUserAndMain.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/PnpUserAndMain.css">

<script>
    var AllFiles = @Html.Raw(userInfoJson);
    Pnp.Home("@ViewData["UserName"]", AllFiles, "@ViewData["SearchBy"]", "@ViewData["SearchValue"]");

    document.getElementById("Elem").onkeydown = function(event) {
        var x = event.keyCode;
        if (x == 13) {  // 27 is the ESC key
            document.getElementById("SearchButton").click();
        }
    }
</script>
